/** {
    border: 1px solid red !important;
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;

}*/

body {
    font-family:'Helvetica Neue',Helvetica,Arial,Sans-serif;
    color: white;
    background-color: #2bbed3;
    font-weight: 300;
    height:100vh;margin: 0;
}

p{
    font-size:40px;
}
.grid {
    margin: 0 auto;
    max-width: 1200px;
    width: 100%;
    
}
.row{
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding:0;
}
.col-1, .sm-1 {
    width: 8.33%;
}

.col-2, .sm-2 {
    width: 16.66%;
}

.col-3, .sm-3 {
    width: 25%;
}

.col-4, .sm-4 {
    width: 33.33%;
}

.col-5, .sm-5 {
    width: 41.66%;
}

.col-6, .sm-6 {
    width: 50%;
}

.col-7, .sm-7 {
    width: 58.33%;
}

.col-8, .sm-8 {
    width: 66.66%;
}

.col-9, .sm-9 {
    width: 75%;
}

.col-10, .sm-10 {
    width: 83.33%;
}

.col-11, .sm-11 {
    width: 91.66%;
}

.col-12, .sm-12 {
    width: 100%;
}

@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    [class*="col-"] {
        width: 100%;
    }

}
.container{
    min-height:100vh;
    display:flex;
    align-items:center;
    justify-content: center;
}
.title{
    font-size:15vw;
    color:white;
    font-weight: bold;
    text-align: center;
    margin: 0;
}

.hidden{
    border: 1px solid transparent;
    width:70px;
    height: 50px;
    border-radius:50%;
    background-color:transparent;
    display: inline-block;

}
.hidden p{
    text-align: center;
    margin: 15px 0 ;
   
}

.view1{
    margin: 0 auto;
    max-width: 1200px;
    width: 100%;
}

.text-center{
    text-align: center;
}

.div-center{
    margin: 0 auto;
}

#poundSymbol, #amount, #deposit-amount{
    font-size: 80px;
}
.blinking-cursor {
  font-weight: 100;
  font-size: 80px;
  color: white;
  -webkit-animation: 1s blink step-end infinite;
  -moz-animation: 1s blink step-end infinite;
  -ms-animation: 1s blink step-end infinite;
  -o-animation: 1s blink step-end infinite;
  animation: 1s blink step-end infinite;
}

@keyframes "blink" {
  from, to {
    color: transparent;
  }
  50% {
    color: white;
  }
}

@-moz-keyframes blink {
  from, to {
    color: transparent;
  }
  50% {
    color: white;
  }
}

@-webkit-keyframes "blink" {
  from, to {
    color: transparent;
  }
  50% {
    color: white;
  }
}

@-ms-keyframes "blink" {
  from, to {
    color: transparent;
  }
  50% {
    color: white;
  }
}

@-o-keyframes "blink" {
  from, to {
    color: transparent;
  }
  50% {
    color: white;
  }
}

.number-keys{
    border: 1px solid white;
    width:70px;
    height: 70px;
    border-radius: 50%;
    background-color:transparent;
    display: inline-block;
    margin: 4px;
}
.number-keys p{
    text-align: center;
    margin: 15px 0 ;
   
}

.number-keys:active, .number-keys:hover{
    background-color: white;
    cursor: pointer;
}
.number-keys:active p, .number-keys:hover p{
    color:#2bbed3 ;
}

.keys-col{
    /**margin-left:40%;**/
    margin: 0 auto;
    /**width: 22%;**/
}

.submit-button {
    border: 1px solid white;
    width:220px;
    height: 50px;
    border-radius: 35px;
    background-color:transparent;
    text-align: center;
    margin: 35px auto;
    padding-top:8px;
    font-color: white;opacity: 0.7;
    font-size:40px;
}

.submit-button.active{
    color: white; opacity:1;
}
.submit-button.active:hover, .submit-button.active:active{
    background-color: white; opacity:1;
    cursor: pointer;
    color:#2bbed3 ;
}
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-32 { font-size: 32px; }


.view2{
    margin: 0 auto;
    max-width: 1200px;
    width: 100%;
}

.backButton{
    margin: 43px auto 0; 
    border: 2px solid white;
    width:40px;
    height: 40px;
    border-radius: 50%;
    background-color:transparent;
    text-align: center;
}
.backButton i{
    margin-top: 2px;
}
.backButton:hover, .backButton:active{
    background-color: white;
    cursor:pointer;
}
.backButton:hover i, .backButton:active i{
    color:#2bbed3;
}

.notesDeposited{
    border: 1px solid white;
    width:90%;
    height: auto;
    background-color:transparent;
    text-align: center;
    margin: 0 auto;
}

.notesDeposited p{
    /**padding-bottom:10px;**/
}

.noteDesignInner{
    border: 1px solid #2bbed3;
    width:40px;
    height: 40px;
    border-radius: 50%;
    background-color:#2bbed3;
    margin: 10px auto;
}
.noteDesignOuter{
    border: 1px solid white;
    width:100px;
    height: 60px;
    background-color:white;
    margin: 35px auto 40px;
}
.coinsDeposited{
    border: 1px solid white;
    width:90%;
    height: auto;
    background-color:transparent;
    text-align: center;
    margin: 0 auto;
    
}
.coinDesignInner{
    border: 1px solid white;
    width:40px;
    height: 40px;
    border-radius: 50%;
    background-color:white;
    margin: 10px auto;
}
.coinDesignOuter{
    
    width:100px;
    height: 60px;
    background-color:transparent;
    margin: 35px auto 40px;
}